<!-- <div class="container">
  <div class="row">
    <h2>WK stand teams</h2>
    <hr>
    <div class="col-xs-6">
      <div class="list-group-item clearfix" *ngFor="let wedstrijd of team1; let i = index" style="background-color: red">
        <div class="list-group-item-header">
          bier
        </div>
          {{  getCompetitieregel(i)  }} 
        <span class="pull-right">
            {{ getStand(i) }}
        </span>
      </div>
    </div>    
  </div>
</div> -->


<div class="container" class="bg">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
        <h2 style="background-color: black; color: white">WK stand teams</h2>
        <hr>
      <div class="list-group-item clearfix" *ngFor="let wedstrijd of wedstrijden; let i = index" style="background-color: black; color : white; position: center">
        <div class *ngIf="wedstrijd.uitslag.team1Score > wedstrijd.uitslag.team2Score">
          <div class="list-group-item-header" [ngStyle]="{backgroundColor : 'green', color : 'white'}">
            bier met bitterballen
          </div>
        </div>
        <div class *ngIf="wedstrijd.uitslag.team1Score == wedstrijd.uitslag.team2Score">
          <div class="list-group-item-header" [ngStyle]="{backgroundColor : 'yellow', color : 'black'}">
            glaasje prik
          </div>
        </div>
        <div class *ngIf="wedstrijd.uitslag.team1Score < wedstrijd.uitslag.team2Score">
          <div class="list-group-item-header" [ngStyle]="{backgroundColor : 'red', color : 'white'}">
            10 rondjes rond het veld.
          </div>
        </div>
        <strong> {{ wedstrijd.club1 }} - {{ wedstrijd.club2 }} </strong>
        <span class="pull-right">
          {{ wedstrijd.uitslag.team1Score }} - {{ wedstrijd.uitslag.team2Score }}
        </span>
      </div>
    </div>
  </div>
</div>